[core]
	autocrlf = input
	editor = code --wait
	excludesfile = ~/.gitignore_global

[init]
	defaultBranch = main

[alias]
	resign = rebase --exec 'GIT_COMMITTER_DATE=\"$(git log -n 1 --format=%aD)\" git commit --amend --no-edit -n -S' -io
	aa = add -A

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

# Enforce SSH for GitHub
[url "git@github.com:"]
  pushInsteadOf = https://github.com/
  pushInsteadOf = http://github.com/
  pushInsteadOf = gh:
  insteadOf = gh:
  insteadOf = https://github.com/
  insteadOf = http://github.com/
  # pushInsteadOf = git://github.com/

[include]
	path = ~/.gitconfig.local
